.footer img.logo-footer {

	max-width: 150px;

	width: auto;

}

.brands .brands_slider img.partner {

	max-width: 100px;
	width: auto;

}
/*.wishlist_icon .fa .fa-map-marker {
	font-size: 22px;
	font-weight: 300;
}*/
.owl-stage-outer a {
	color:#606060;
}